<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196197341463-oiorg8c60aukm42gm6rshstt6glicqet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196197341463-oiorg8c60aukm42gm6rshstt6glicqet</string>
	<key>API_KEY</key>
	<string>AIzaSyAxHHifAXfbwSvRj3Tx4YPuGcS3eoWfm2A</string>
	<key>GCM_SENDER_ID</key>
	<string>196197341463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subwayProject230208</string>
	<key>PROJECT_ID</key>
	<string>subway-project-230208-1681f</string>
	<key>STORAGE_BUCKET</key>
	<string>subway-project-230208-1681f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196197341463:ios:c021b33e5e2d952be33f52</string>
</dict>
</plist>